.ui-daysleft {
	margin: 30px 0px;
	width: 144px;
	height: 158px;
	background-color: #ffffff;
	border-radius: 27px;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.3px;
}

.ui-daysleft__container {
	padding: 15px 12px;
}
.ui-daysleft__info {
	display: flex;
}
.ui-daysleft__img {
	max-width: 39px;
	max-height: 39px;
	object-fit: contain;
}
.ui-daysleft__price {
	margin-left: 12px;
}
.ui-daysleft__name {
	margin-top: 10px;
}
.ui-daysleft__type {
	font-weight: normal;
}
.ui-daysleft__input {
	margin-top: 10px;
	width: 30px;
	list-style: 12px;
	letter-spacing: -0.5px;
}
.ui-daysleft__text {
	margin-left: 5px;
	margin-top: 10px;
	list-style: 17px;
	letter-spacing: -0.7px;
}
.slick-slide {
	padding-right: 10px;
}

