.ui-item__container {
	display: flex;
	margin-top: 23px;
}
.ui-item__img {
	max-width: 43px;
	max-height: 43px;
	object-fit: contain;
}
.ui-item__info {
	margin-left: 12px;
}
.ui-item__price {
	margin-top: 5px;
	margin-left: auto;
}
.ui-item__date {
	margin-top: 5px;
}
.ui-item__border{
	margin-top: 11px;
	border-bottom: 1px solid #e8f0fd;
}