.update-subscriptions {
	background-image: url("../../assets/images/background.png");
	background-repeat: no-repeat;
	object-fit: contain;
}
.anticon.anticon-left.update-subscriptions__icons {
	margin-left: -70px;
	margin-top: 7px;
	font-size: 14px;
	color: #fff;
}
