.add-subscription {
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  object-fit: contain;
}
.anticon.anticon-left.add-subscription__icons {
  margin-top: 7px;
  font-size: 14px;
  color: #fff;
}
.add-subscription__title {
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
}
.add-subscription__text.subscription__text {
  margin-left: 80px;
}
